@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div class="container">
    <p><strong>Benji X</strong>—born Benjamin Xochimitl—is a singer-songwriter whose music bridges past and present, blending tradition with innovation. The "X" in his name honors his Aztec heritage, rooted in the Mexica people, and reflects his journey of self-discovery. With a sound reminiscent of Iron & Wine’s sincerity and Hozier’s passion, Benji X creates acoustic, lyric-focused songs that resonate deeply.</p>

    <p>Growing up as the youngest of five in a challenging environment, Benji X found solace in the voices of legends like Frank Sinatra and Ella Fitzgerald. These early influences, combined with the energy of pop-punk and the rhythms of Latin and R&B artists—thanks to the influence of his wife, Lisa—shaped his eclectic sound.</p>

    <p>His debut single, "I'm Not Your Son," is a powerful reflection of his journey from a troubled childhood to healing and self-liberation. Inspired by the ideals of kindness, humanity, and progress, Benji X’s music is a testament to resilience, growth, and the pursuit of authenticity.</p>

    <p>Celebrating his dual English and Mexican heritage, Benji X's songs invite listeners into a world where pain is transformed into art, love is redemptive, and experience is shared through the universal language of music.</p>
</div>
