@{
    ViewData["Title"] = "Discography";
}

<h1>Discography</h1>
<div class="container">
    <h2 class="text-center">Available Tracks</h2>
    <div class="row discography-cards mt-4">
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="~/images/benji_x_album_im_not_your_son_(3000x3000).JPG" class="card-img-top" alt="I'm Not Your Son Album Cover">
                <div class="card-body">
                    <h4 class="card-title">I'm Not Your Son</h4>
                    <p class="card-text">A powerful reflection of my journey from a troubled childhood to self-liberation and healing.</p>
                    <a href="https://open.spotify.com/track/5vqNOggcKBZdFOQ1AyYOG5?si=df8f9e19590a4e56" class="btn btn-primary" target="_blank">Listen on Spotify</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="~/images/where_happiness_dwells_cover_art(3000x3000px).JPG" class="card-img-top" alt="Where Happiness Dwells Album Cover">
                <div class="card-body">
                    <h4 class="card-title">Where Happiness Dwells</h4>
                    <p class="card-text">A heartfelt track capturing moments of joy and the journey to finding true happiness.</p>
                    <a href="https://open.spotify.com/track/0Lxe6RKempcDq7mjBUElyA?si=11cb221a75ce496f" class="btn btn-primary" target="_blank">Listen on Spotify</a>
                </div>
            </div>
        </div>
    </div>
</div>