@{
    ViewData["Title"] = "Live Shows";
}

<h1>Live Shows</h1>
<div class="container">
    <h2 class="text-center">Upcoming Live Shows</h2>
    <ul class="list-group live-shows-list">
        <li class="list-group-item">
            <h4>Wednesday, November 27, 2024</h4>
            <p>Event: Open Mic Night</p>
            <p>Venue: The Velour, Provo, UT</p>
            <p>Time: 8:00 PM</p>
        </li>
        <li class="list-group-item">
            <h4>Wednesday, December 18, 2024</h4>
            <p>Event: Xmas Open Mic Night</p>
            <p>Venue: The Velour, Provo, UT</p>
            <p>Time: 8:00 PM</p>
        </li>
    </ul>
</div>